<div ng-include="'views/partials/nav.html'"></div>
<div class="container">

  <form ng-submit="ic.newTask()">
    <label for="task">Create a new Task:</label>
    <input class="form-control" type="text" name="" value="" ng-model="ic.task.input"> {{ic.message}}
    <br><br>
    <p>Assigned To:</p>
    <label ng-repeat="as in ic.assistants" class="checkbox-inline">
      <input  type="checkbox" checklist-model="ic.task.assignedTo" checklist-value="as.username">{{as.username}}
      <!-- show each user assistants in checkbox's -->
    </label>
    <br><br>
    <input class="btn btn-default" type="submit" name="submit" value="Submit" />
  </form>

  <div class="table-responsive">
    <table class="table">
      <thead>
        <th>Identification Number</th>
        <th>Task to Do</th>
        <th>Assigned To</th>
        <th></th>
      </thead>
      <tbody ng-repeat="tasks in ic.taskArray">
        <td>{{tasks.id}}</td>
        <td>{{tasks.task}}</td>
        <td>{{tasks.username}}</td>
        <td><button type="button" name="button" ng-click="ic.deleteTask(tasks)">Delete</button></td>
      </tbody>
    </table>
  </div>
</div>
